@import url('./variaveis.css');

.conteiner__conteudo {
  background-color: var(--vermelho);
}

.conteudo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.texto {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  width: 75%;
}
