@import url('./variaveis.css');

conteudo {
  display: flex;
  flex-direction: column;
}
.conteiner__titulo {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  color: var(--preto-texto);
  font-weight: 600;
}

.conteudo__formulario {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.campo {
  border: 1px var(--azul-borda) solid;
  height: 3.5rem;
  background-color: var(--cinza-background);
  padding-left: 5px;
  outline: none;
  border-radius: 5px;
  width: 100%;
  padding-right: 5px;
  font-size: 14px;
}

.campo::placeholder {
  opacity: 0.3;
}

.formulario__datas {
  display: flex;
  gap: 30px;
}

.formulario__area__texto {
  height: 250px;
  resize: none;
  padding-top: 5px;
  color: var(--preto-texto);
}

.formulario__imagem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.texto__opcional {
  font-size: 14px;
  color: var(--preto-texto);
  opacity: 0.3;
}

.upload__imagem {
  border-radius: 5px;
  width: 64px;
  height: 64px;
  border: 1px var(--azul-borda) dashed;
}

/* formulário anônimo */
.formulario__anonimo {
  display: flex;
  gap: 12px;
  align-items: center;
}

.formulario__anonimo__texto {
  font-size: 14px;
  font-weight: 500;
}

.upload__imagem__label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* botao anonimo */
.formulario__anonimo__botao {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 28px;
}

.formulario__anonimo__botao input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* botoes */
.formulario__botoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.botoes {
  height: 3.5rem;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
}

.proximo {
  background-color: var(--verde);
  color: #fff;
}

.cancelar {
  color: var(--vermelho);
  border: 1px var(--vermelho) solid;
  background-color: var(--cinza-background);
}
